# Server Configuration
DEBUG_MODE=False
PORT=5000

# Location Settings
LOCATION_NAME="SampleCity"
LATITUDE=50.0000
LONGITUDE=8.0000

# Calendar (Outlook ICS feed)
CALENDAR_ICS_URL="https://outlook.live.com/owa/calendar/your_secret_ics_url/reachcalendar.ics"

# Signal CLI Settings
SIGNAL_PHONE_NUMBER="+01234567890"
SIGNAL_GROUP_ID="your_group_id_here"

# Maps cryptic Signal usernames or phone numbers to real names
SIGNAL_USER_MAPPING='{"Username": "Real_Name", "Phone_Number": "Real_Name"}'

# List of emergency contacts
EMERGENCY_CONTACTS='[{"name": "📱​ Mobile", "number": "+01234567890"}, {"name": "🏠​ Home", "number": "+01234567890"}]'